<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prediction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" />
</head>

<body class="bg-white">
  <% include partials/navbar %>
  <div class="container mt-4">
    <h1>Weather Forecast</h1>
    <hr>
    <div class="card-deck">
      <div class="card text-white bg-dark">
        <div class="card-header">Today | <span class="text text-info"> <%=dates[0]%></span></div>
        <div class="card-body">
          <h5 class="card-title text-warning">Temperature: </h5>
          <h1 class="card-text"><%=temp[0]%><sup>o</sup><span class="">C</span></h1>

        </div>
      </div>
      <div class="card text-white bg-dark">
        <div class="card-header">Tommorow | <span class="text text-info"> <%=dates[1]%></div>
        <div class="card-body">
          <h5 class="card-title text-warning">Temperature: </h5>
          <h1 class="card-text"><%=temp[1]%><sup>o</sup><span class="">C</span></h1>

        </div>
      </div>
      <div class="card text-white bg-dark">
        <div class="card-header">Day After | <span class="text text-info"> <%=dates[2]%></div>
        <div class="card-body">
          <h5 class="card-title text-warning">Temperature: </h5>
          <h1 class="card-text"><%=temp[2]%><sup>o</sup><span class="">C</span></h1>
        </div>
      </div>
    </div>
  </div>
</body>

</html>